header .log{
  position: relative;
 
}



header .log::before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background:#3ed1cc;
  animation: showname 1s ease forwards ;
  animation-delay: .4s;
}

@keyframes showname {
  100%{
    width: 0;
  }
}